In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
# read the eurostoxx data
df_euro=pd.read_csv("../data/2021-12-06_Top25 Euro Stoxx daily.csv")
df_euro.head()

C:\Users\Rahim\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,gvkey,iid,datadate,conm,curcdd,cshoc,cshtrd,prccd,prchd,prcld,prcstd,split,splitf,isin,conml,county,naics,sic
0,8546,01W,20100104,KONINKLIJKE PHILIPS NV,EUR,972411769.0,4154697.0,21.495,21.520,20.82,10.0,NaN,NaN,NL0000009538,Koninklijke Philips NV,NaN,334510,3845
1,8546,01W,20100105,KONINKLIJKE PHILIPS NV,EUR,972411769.0,4535550.0,21.450,21.685,21.30,10.0,NaN,NaN,NL0000009538,Koninklijke Philips NV,NaN,334510,3845
2,8546,01W,20100106,KONINKLIJKE PHILIPS NV,EUR,972411769.0,4496385.0,21.120,21.430,20.97,10.0,NaN,NaN,NL0000009538,Koninklijke Philips NV,NaN,334510,3845
3,8546,01W,20100107,KONINKLIJKE PHILIPS NV,EUR,972411769.0,4573449.0,21.000,21.200,20.78,10.0,NaN,NaN,NL0000009538,Koninklijke Philips NV,NaN,334510,3845
4,8546,01W,20100108,KONINKLIJKE PHILIPS NV,EUR,972411769.0,4204274.0,21.030,21.300,20.79,10.0,NaN,NaN,NL0000009538,Koninklijke Philips NV,NaN,334510,3845

In [3]:
# read the sp500 data
df_sp=pd.read_csv("../data/2021-12-06_Top25 SP500 daily.csv")
df_sp.head()

,gvkey,iid,datadate,tic,cusip,conm,div,divd,dvrated,divsppaydate,curcdd,cshoc,cshtrd,eps,prccd,prchd,prcld,prcod,prcstd,exchg,secstat,cik,conml,naics,sic,spcindcd,stko
0,1045,1,20100104,AAMRQ,001765106,AMERICAN AIRLINES GROUP INC,NaN,NaN,NaN,NaN,USD,332456000.0,17441530.0,-4.98,7.72,7.79,7.45,7.73,3.0,19,I,6201,American Airlines Group Inc,481111,4512,605.0,0
1,1045,1,20100105,AAMRQ,001765106,AMERICAN AIRLINES GROUP INC,NaN,NaN,NaN,NaN,USD,332456000.0,24044700.0,-4.98,8.36,8.42,7.68,7.68,3.0,19,I,6201,American Airlines Group Inc,481111,4512,605.0,0
2,1045,1,20100106,AAMRQ,001765106,AMERICAN AIRLINES GROUP INC,NaN,NaN,NaN,NaN,USD,332456000.0,15770140.0,-4.98,8.11,8.31,8.01,8.11,3.0,19,I,6201,American Airlines Group Inc,481111,4512,605.0,0
3,1045,1,20100107,AAMRQ,001765106,AMERICAN AIRLINES GROUP INC,NaN,NaN,NaN,NaN,USD,332456000.0,17663110.0,-4.98,8.25,8.50,8.05,8.05,3.0,19,I,6201,American Airlines Group Inc,481111,4512,605.0,0
4,1045,1,20100108,AAMRQ,001765106,AMERICAN AIRLINES GROUP INC,NaN,NaN,NaN,NaN,USD,332456000.0,12413430.0,-4.98,8.11,8.42,7.97,8.34,3.0,19,I,6201,American Airlines Group Inc,481111,4512,605.0,0